apps/n8n/workflows/ingest-message-workflow.json
{
  "name": "ingest-message",
  "nodes": [
    {
      "parameters": {
        "path": "ingest-message",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.BACKEND_URL}}/messages/ingest",
        "jsonParameters": true,
        "bodyParametersJson": "={{$json}}"
      },
      "id": "2",
      "name": "Ingest Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ingest Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Message": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "ingest-message"
}
