apps/n8n/workflows/stripe-webhook-workflow.json
{
  "name": "stripe-webhook",
  "nodes": [
    {
      "parameters": {
        "path": "stripe-webhook",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 320]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.BACKEND_URL}}/payments/webhook/stripe",
        "jsonParameters": true,
        "bodyParametersJson": "={{$json}}"
      },
      "id": "2",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stripe Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "stripe-webhook"
}
